@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.order-list-search-panel {
  input {
    width: 353px;
    height: 36px;
    margin: 23px 0px 23px 42px;
    padding-left: 25px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;

    border: 1px solid #1976D2;
    border-radius: 4px;
  }
}