@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

%flex-elem-center-height {
  display: flex;
  align-items: center;
}

.modal-delete-window {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;

  @extend %flex-elem-center-height;
  justify-content: center;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #ffffff;

  .modal-header {
    padding: 16px 27px;

    @extend %flex-elem-center-height;
    margin: 0px auto;

    background-color: #2F80ED;

    &__icon {
      margin-right: 10px;

      font-size: 20px;
    }

    &__text {
      margin-right: 5px;
    }

    &__order-id {
      margin-right: 8px;
    }

    &__cancel-btn {
      color: #ffffff;
      font-size: 20px;
      background-color: transparent;

      svg {
        display: inline-block;
        vertical-align:top;
      }
    }
  }

  .modal-body {
    padding: 11px 81px;
    background-color:#ffffff;

    @extend %flex-elem-center-height;
    justify-content: center;

    button {
      padding: 6px 60px;

      letter-spacing: 1.25px;

      color: #2196F3;
      background-color: rgba(44, 152, 240, 0.12);;

      border-radius: 4px;

      &:hover {
        color: #ffffff;
        background-color: #2F80ED;
        box-shadow: 0px 5px 7px -3px rgba(34, 60, 80, 0.2);
      }

      &:first-child {
        margin-right: 28px;
      }
    }
  }
}