@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: #2F80ED;
}

.nav {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 24px;

  &__item {
    color: #000000;
    display: inline-block;
    padding: 20px 30px 23.5px 30px;
    border-radius: 15px 15px 0px 0px;
    background-color: #ffffff;
  }
}