@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.order-creating-checkbox {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  margin-bottom: 39px;
}

.order-creating-checkbox label {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #263238;
  font-weight: 600;
}

.order-creating-checkbox input {
  width: 18px;
  height: 18px;
  margin-right: 35px;
  cursor: pointer;
}

.order-creating-checkbox input:checked + label {
  color: #2F80ED;
}
