@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.paginator-page-switch, .paginator-page-switch button svg {
  display: flex;
  align-items: center;
}

.paginator-page-switch button {
  font-size: 27px;
  color: rgba(0, 0, 0, 0.54);
  background-color: transparent;
}

.paginator-page-switch__current-page-number {
  padding: 0px 6px;
  margin: 0px 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid #1976D2;
  border-radius: 4px;
}
