@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.order-list-item {
  padding: 6px 0px 13.4px 13px;
  height: 89px;

  display: flex;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  border-bottom: 1px solid #E0E0E0;

  a {
    display: flex;
    align-items: center;

    color: #000000;
  }

  &__delete-order-btn {
    margin-right: 36px;

    font-size: 30px;
    color: rgb(128, 126, 126);

    background-color: transparent;

    &:hover {
      color: rgb(107, 106, 106);
    }
  }

  &__first-name {
    width: 110px;
    margin-right: 103px;

    display: flex;
    align-items: center;

  }

  &__last-name {
    width: 110px;
    margin-right: 147px;
  }

  &__middle-name {
    width: 160px;
    margin-right: 106px;
  }

  &__user-phone {
    width: 160px;
    margin-right: 150px;
  }

  &__text {
    width: 642px;

    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}